<div id="body"> 
<div id="helps">

    <h3 id="heading">Contact Information</h3>

    <div class="adress">
        <div class="location">
           <a href="https://maps.app.goo.gl/AcbUPKDXTz8oxmVb7?g_st=ic">
            <i class="material-icons homee" id="icon">home</i> </a>
            <br> <br>
            <h2 id="add">ADDRESS</h2>
        </div><br> <br>
        <div id="content">
            <p>S.Rajesh <br>R.J.Cottage, Sree Sainagar,<br>
                Mela-Soorankudy, Konam,<br>
                Nagercoil - 629004.</p>
        </div>
        

    </div>

    <div class="telphone">
        <div class="phone">
            <a href="https://api.whatsapp.com/send?phone=%2B919080535846&text&app_absent=0">
            <i class="fa fa-phone-volume phon" id="icon"></i> </a>
            <br><br> 
                        <h2 id="heas">PHONE</h2>
        </div><br><br>
        <div id="content">
            <p>S.Rajesh <br>+91 9080535846<br>
                <a href=""></a></p>
        </div>
        
    </div>

    <div class="hEmail">
        <div class="phone">
            <a href="mailto:kkanna707@gmail.com">
            <i class="fa fa-envelope mails" id="icon"></i>  </a>
               <br><br>        <h2 id="heas">EMAIL</h2>
        </div><br><br>
        <div id="content">
            <p>kkanna707@gmail.com</p>
        </div>
        
    </div>


</div>
</div>