




  <div id="main">
      <div>
          <div id="main-left">
              <img src="/assets/Kanna passport.JPG"  id="kannlogo"/>
          </div>
          <br>
          <div id="main-rigth">
              <h4>Hi Sir/Madam</h4>
              <br>
              <h2>My name is  RAJESH</h2>
              <p>Among all the creatures on Earth, human being is definitely superior. Writing a few lines or words about myself to introduce, I feel myself to be tiny part of this entire world that is filled with the human beings around. I myself am humble, kind, caring and courageous. I am most respected, loved and responsible and time being person. Though, it is quite hard to write about myself yet I have tried myself best to express all about me</p>
    <p>Being a smart one is not easy.</p>
            
              

          </div>

      </div>
      <br>
      <div id="list-of-images">
          <table>
              <tr>
                  <td routerLink="/">
                      <img src="https://th.bing.com/th/id/OIP.lcXsRpxmzV4F0E3sEP-kkQHaHa?w=219&h=219&c=7&r=0&o=5&pid=1.7" width="200px" height="200px"/>
                      <h4>Profile</h4>
                  </td>
                  <td routerLink="/resume">
                      <img src="https://images.pexels.com/photos/3944420/pexels-photo-3944420.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="200px" height="200px"/>
                      <h4>Resume</h4>
                  </td>
                  
                  <td routerLink="/contact">
                      <img src="https://th.bing.com/th/id/OIP.scM5XUYeeiBJAgtF-shjCQHaHU?w=222&h=219&c=7&r=0&o=5&pid=1.7" width="200px" height="200px"/>
                      <h4>Contact</h4>
                  </td>
              </tr>
          </table>
      </div>
  </div>

  <div id="footer">
      <div id="social">
          <table>
              <tbody>
                  <tr>
                      <td>
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEeHgbGz-N7FyHT4pQrZhOLHxEiBS8EpLMXQ&amp;usqp=CAU" width="50px" height="50px"/>
                      </td>
                      <td>
                         <img src="https://th.bing.com/th/id/OIP.r1Ot-0IQNDE1rRtoOtnrIgHaHZ?w=166&h=180&c=7&r=0&o=5&pid=1.7" width="50px" heigth="50px"/>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

      <div>
          <h4>Once we enter the world of competetion we should not see who is on the line we should run forward to win.</h4>
      </div>

      <div>
          <p>All Copyrigths are Reserved by RAJESH</p>
    </div>
</div>
